<!DOCTYPE html>
<html>
<head>
	<title>FlappyDog</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<style>
		:focus { outline: none; }

		html {
			//-ms-overflow-style: none;
			height:100%;
			width:100%;
			//overflow-y: hidden;
		}
		body {
			font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', "Avenir Next", Nunito, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 14px;
			color: #888888; background-color: #F9F9F9;
			font-weight: 400;
			height:99.8%;
			width:99.8%;
			overflow-y: hidden;
		}
		#root {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			display: flex;
		}
	</style>
</head>

<body>
	<div id="root"></div>
	<script src="vendor.bundle.js"></script>
</body>
</html>
